/.idea/
/encuentro-01/ejemplo-java/build/
/encuentro-01/ejemplo-java/Saludo
/encuentro-01/ejemplo-java/Saludo.build_artifacts.txt
/encuentro-01/ejemplo-java/Saludo.jar
/encuentro-01/ejemplo-poliglota/package-lock.json
/encuentro-01/ejemplo-poliglota/node_modules/
/encuentro-01/ejemplo-poliglota/*.svg
